<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">
        <nav class="navbar">
            <a href="/home" class="navbar-brand">Home</a>
            <ul class="nav ml-auto">
                <% if(opp) { %>
                <li><a href="#">Logged in as <%= name %></a></li>
                <% }else {%>
                <li><a href="#">Welcome <%= name%></a></li>
                <% } %>
                <li><a href="#"></a></li>
                <li><a href="/loggout">Logout</a></li>
            </ul>
        </nav>
    </div>
</body>

</html>